html,body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  
}
header{  
  background-image: url("/assets/portada.jpg"); opacity: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60%;
  width: 100%;
  padding: 15px;
  font-family: 'Grenze Gotisch';
  text-align: center;
  color: #300d16;
}
.inputProducto {
  height: 25px;
  width: 20px;
  font-size: 14px;
  font-family: 'Finlandica', sans-serif;
  

}
h1{
  color: #f8c9cc;
  text-shadow: 0 0 20px #300d16;
  font-family: 'Grenze Gotisch', cursive;  
  font-size: 80px;
}
.navbar{
  width: 100%;
  margin: 0 auto;
  font-family: 'Grenze Gotisch';
  font-size: 20px; 
  display: inline-block;
  background-color:#f8c9cc;
  color: #877677;
  text-shadow: 0 0 5px #300d16;

}
nav ul  {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  
}
ul li {
  padding: 5px;
  width: auto;    
  margin-right: 80px;
}
  .nav-item{
      text-decoration: none;
      display: inline;
      align-items: center;  
      float: left;
  }
  .btn-success{
    background-color: #f8c9cc;
    color:#300d16;
    border-radius: 5px;
    padding: 8px;
    font-family: 'Grenze Gotisch';
  }
  #sec1{
    height: 80px;
    background-color:#f8c9cc;
    color: #300d16;
    text-shadow: 0 0 5px #300d16;
    font-family: 'Grenze Gotisch';
    font-size: 30px; 
    text-align: center;
  }  
  #sec1{
    animation-duration: 3s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
p{
  font-family: 'Finlandica', sans-serif;
  font-size: 18px;
  color: #f8c9cc;
  padding:5px;
  text-align: center;
}
 

img {
  width: 60%;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
  justify-content: center;
  filter: brightness(70%);
}
.contenedor-tienda button {
  background-color: #f8c9cc;
  border-radius: 5px;
  color:#300d16;
  padding: 2px;
  font-family: 'Finlandica', sans-serif;
  font-size: 10px;
  display: flex;
  justify-content:center;
}

.card{
  width: 400px;
  height: 450px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  font-family: 'Finlandica', sans-serif;

}

#sec2{
  padding: 10px;
  height: 80px;
  background-color:#f8c9cc;
  color: #300d16;
  text-shadow: 0 0 5px #300d16;
  font-family: 'Grenze Gotisch';
  font-size: 40px; 
  text-align: center;
}
#sec2{
  animation-duration: 3s;
      animation-name: slidein;
    }
    
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
#btnCarrito{
  background-color: #f8c9cc;
  color:#300d16;
  border-radius: 5px;
  padding: 8px;
  font-family: 'Grenze Gotisch';
 
}
#contenedorCarrito{
  color: #f3eae8;
  text-shadow: 0 0 #300d16;
}
#producto.precio{
  color: #f3eae8;
  text-shadow: 0 0 #300d16;
}
#btnComprafinal{
  background-color: #f8c9cc;
  border-radius: 5px;
  color:#300d16;
  padding: 8px;
  font-family: 'Grenze Gotisch';
}

.carousel-inner img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  text-align: center;
  opacity: 80%;
}
.mb-3{
  font-family: 'Finlandica', sans-serif;
  font-size: 20px;
  color: #f8c9cc;
  text-align: center; 
  padding: 2px;
}
label{
  font-family: 'Finlandica', sans-serif;
  font-size: 20px;
  color: #f8c9cc;
  padding:5px;
}
.btn{
  background-color: #f8c9cc;
  border-radius: 5px;
  color:#300d16;
  padding: 8px;
  font-family: 'Grenze Gotisch';
  text-align: center;
}
footer{
  width: 100%;
  font-family: 'Grenze Gotisch';
  font-size: 20px; 
  display: inline-block;
  background-color:#f8c9cc;
  color: #877677;
  text-shadow: 0 0 5px #300d16;
  text-align:center;
}
